{% extends 'base.html' %} 
{% load static %}


{% block title %} 
My Blog 
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock css_files %}

{%block content%}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/max.png" %}" alt="picture of author" />
            <h2>Blog</h2>
        </header>
        <p>here is a paragraph</p>
    </section>
    <section id="latest-posts">
        <h2>Latest Posts</h2>
        <ul>
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>Description of what I do</p>
        <p>Second paragraph of what I do</p>
    </section>
{% endblock content %}
