{% extends 'base.html' %}
{% load static %}

{% block title %} 
Post Title
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock css_files %}

{%block content%}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="{% static "blog/images/mountains.jpg" %}" alt=""/>
            <address>By Author</address>
            <div>
                Last updated on <time>August 30th</time>
            </div>
        </article>
    </section>

    <main>
    <p> 
        {% lorem 1 b random %}
    </p>
    </main>
{% endblock content %}
